# KERRY MATRIX
> notebook that creates the kerry datasets.

- toc: true 
- badges: true
- comments: true
- categories: [jupyter]
- image: images/chart-preview.png

In [12]:
#hide 
#IMPORTS
import pandas as pd
from matplotlib import pyplot as plt

rtData = pd.read_csv('https://d14wlfuexuxgcm.cloudfront.net/covid/rt.csv')
dailyData = pd.read_csv('https://covidtracking.com/api/v1/states/daily.csv')

In [16]:
#hide 
#SET VARIABLES
today = '2020-08-02'
week = '2020-08-02/2020-07-26'
dateRange = '20200802'

In [5]:
#KERRY LOCATIONS AND POPULATION DATA
kerryLocations = pd.read_csv('kerry.csv')
kerryLocations.columns = map(str.lower, kerryLocations.columns)
kerryCols=['state', 'population']
kerryLocs = kerryLocations[kerryCols]

print ('Kerry Locations Information being loaded...')
kerryLocs

Kerry Locations Information being loaded...

   state  population
0    AL†   4,903,185
1    AR†   3,017,804
2    CA*  39,512,223
3    FL*  21,477,737
4     GA  10,617,423
5     IA   3,155,070
6     IL  12,671,821
7    IN†   6,732,219
8     KS   2,913,314
9     MD   6,045,680
10    ME   1,344,212
11    MN   5,639,632
12    MO   6,137,428
13   MS†   2,976,149
14   NJ†   8,882,190
15    NY  19,453,561
16    OH  11,689,100
17    TN   6,829,174
18   TX*  28,995,881
19    VA   8,535,519
20   WA†   7,614,893
21    WI   5,822,434

In [18]:
#hide 
#rtlive data cleaning
rtCleaned = rtData[rtData['date']==today]
rtColumns = ['date', 'region', 'mean']
rtCleaned = rtCleaned[rtColumns]
rtCleaned = rtCleaned.rename(columns = {'region':'state'})
rtCleaned = rtCleaned.sort_values('state', ascending=True)

#PRINT CLEANED DATA
print ('rtLive Data being loaded...')
rtCleaned

rtLive Data being loaded...

            date state      mean
7999  2020-08-02    AK  1.044038
3674  2020-08-02    AL  1.038194
4947  2020-08-02    AR  1.032027
7165  2020-08-02    AZ  0.868990
7844  2020-08-02    CA  0.887025
6379  2020-08-02    CO  0.998260
952   2020-08-02    CT  0.981955
2076  2020-08-02    DC  1.038579
1594  2020-08-02    DE  0.946947
2723  2020-08-02    FL  0.963125
2560  2020-08-02    GA  0.951249
8158  2020-08-02    HI  1.344259
4631  2020-08-02    IA  0.987130
6845  2020-08-02    ID  1.008629
3997  2020-08-02    IL  1.079792
3353  2020-08-02    IN  1.003324
5740  2020-08-02    KS  1.064063
2884  2020-08-02    KY  1.051189
5106  2020-08-02    LA  0.911052
629   2020-08-02    MA  1.045733
1756  2020-08-02    MD  1.031470
153   2020-08-02    ME  0.935425
3519  2020-08-02    MI  0.990569
4316  2020-08-02    MN  1.104105
4791  2020-08-02    MO  1.162356
4472  2020-08-02    MS  1.070742
6691  2020-08-02    MT  1.044862
2238  2020-08-02    NC  1.014149
5262  2020-08-02    ND  1.091882
5580  2020-08-02    NE  1.109083
313   2020-08-02    NH  1.012778
1276  2020-08-02    NJ  0.973840
6217  2020-08-02    NM  0.926463
7682  2020-08-02    NV  1.090898
1115  2020-08-02    NY  0.962816
3193  2020-08-02    OH  0.941024
5898  2020-08-02    OK  0.995248
7525  2020-08-02    OR  1.072128
1437  2020-08-02    PA  0.977182
792   2020-08-02    RI  1.141209
2399  2020-08-02    SC  0.905029
5419  2020-08-02    SD  1.119219
3834  2020-08-02    TN  0.984245
6060  2020-08-02    TX  0.956087
7003  2020-08-02    UT  1.014811
1916  2020-08-02    VA  1.095967
474   2020-08-02    VT  0.838499
7364  2020-08-02    WA  1.089897
4155  2020-08-02    WI  0.917461
3034  2020-08-02    WV  0.951932
6535  2020-08-02    WY  1.006348

In [15]:
#hide 
#DAILY DATA CLEANING
dailyColumns = ['date', 'state', 'death', 'positiveIncrease', 'totalTestResultsIncrease', 'deathIncrease']
dailyData = dailyData[dailyColumns]
dailyData = dailyData.sort_values('state', ascending=True)
dailyCleaned = dailyData[dailyData['date'].astype(str)==dateRange]
dailyCleaned

,date,state,death,positiveIncrease,totalTestResultsIncrease,deathIncrease
112,20200802,AK,24.0,157,4457,0
113,20200802,AL,1627.0,2095,8699,24
114,20200802,AR,458.0,0,0,-2
115,20200802,AS,0.0,0,0,0
116,20200802,AZ,3765.0,1465,7778,18
117,20200802,CA,9356.0,9032,149388,132
118,20200802,CO,1691.0,458,7169,0
119,20200802,CT,4432.0,0,0,0
120,20200802,DC,586.0,69,3411,1
121,20200802,DE,585.0,72,2015,0
122,20200802,FL,7206.0,7104,41554,62
123,20200802,GA,3840.0,3165,28555,15
124,20200802,GU,5.0,0,0,0
125,20200802,HI,26.0,86,3390,0
126,20200802,IA,876.0,516,5148,4
127,20200802,ID,197.0,393,2426,8
128,20200802,IL,7714.0,1467,38945,14
129,20200802,IN,2975.0,735,10437,4
130,20200802,KS,358.0,0,0,0
131,20200802,KY,742.0,462,462,2
132,20200802,LA,4007.0,3467,37197,58
133,20200802,MA,8638.0,846,26110,29
134,20200802,MD,3515.0,909,15432,9
135,20200802,ME,123.0,21,2328,0
136,20200802,MI,6457.0,429,25011,0
137,20200802,MN,1654.0,759,12073,8
138,20200802,MO,1253.0,582,5722,0
139,20200802,MP,2.0,3,3,0
140,20200802,MS,1703.0,672,672,10
141,20200802,MT,61.0,112,2742,0
142,20200802,NC,1969.0,1341,27098,5
143,20200802,ND,95.0,0,0,0
144,20200802,NE,332.0,180,1984,0
145,20200802,NH,416.0,0,0,0
146,20200802,NJ,15836.0,321,49180,6
147,20200802,NM,651.0,196,7874,9
148,20200802,NV,832.0,1131,7899,0
149,20200802,NY,25170.0,531,58961,6
150,20200802,OH,3529.0,944,24643,14
151,20200802,OK,550.0,494,494,1
152,20200802,OR,326.0,280,4041,1
153,20200802,PA,7209.0,654,12247,5
154,20200802,PR,230.0,539,539,5
155,20200802,RI,1007.0,0,0,0
156,20200802,SC,1777.0,1189,10388,26
157,20200802,SD,135.0,88,1021,1
158,20200802,TN,1073.0,1443,19445,6
159,20200802,TX,6837.0,0,0,0
160,20200802,UT,311.0,473,3456,1
161,20200802,VA,2218.0,981,12665,3
162,20200802,VI,8.0,0,0,0
163,20200802,VT,57.0,5,1289,0
164,20200802,WA,1592.0,1738,27874,28
165,20200802,WI,955.0,932,9653,1
166,20200802,WV,117.0,119,3988,1
167,20200802,WY,26.0,39,39,0

In [ ]:
#hide 
#FILTER DATASETS TO KERRY LOCATIONS AND MERGE SETS INTO ONE TABLE

startFile=pd.merge(kerryLocs.state, rtCleaned, on=['state'])
print ('Kerry File Building...')
startFile

In [ ]:
#hide 
newData=pd.merge(startFile, dailyCleaned, on=['state'])
newData=newData.rename(columns={'date_x':'date'})
colss = ['date', 'state', 'mean', 'death', 'positiveIncrease', 'totalTestResultsIncrease', 'deathIncrease']
newData[colss]

In [ ]:
#hide 
#ADDING CASES, TESTING, AND DEATHS TO DATA FILE
dateRange='20200802'
cols = ['date', 'state', 'death', 'positiveIncrease', 'totalTestResultsIncrease', 'deathIncrease']
dailyData = dailyData[cols]
dailyData = dailyData.sort_values('state', ascending=True)
dailyData = dailyData[dailyData['date'].astype(str)==dateRange]
dailyData
newData=pd.merge(startFile, dailyData, on=['state'])
newData=newData.rename(columns={'date_x':'date'})
colss = ['date', 'state', 'mean', 'death', 'positiveIncrease', 'totalTestResultsIncrease', 'deathIncrease']

newData[colss]

In [ ]:
#hide 
startFile=pd.merge(kerryLocations.state, rtCleaned, on=['state'])
print ('Kerry File Building...')
startFile

In [ ]:
#hide 
read = pd.read_csv('us.csv')
read.shape
read.head()
fee=['Kerry Locations', 'State', 'Population', 'SD Past']
tre=read[fee]
tre

In [ ]:
#hide 
plt.title("Canada Matrix Chart")
plt.xlabel("State")
plt.ylabel("SD Past")
x = tre["SD Past"]
y = tre["State"]

plt.plot(x,y)

In [ ]:
#hide 
mer = pd.merge(rtChanged, dailyData, on=['state'])

In [ ]:
#hide 
mer

In [ ]:
#hide 
meg = pd.merge(kerryLocations, mer, on='state')
meg = meg.rename(columns={'date_x':'date'})
coll = ['state',  'mean', 'death', 'positiveIncrease', 'totalTestResultsIncrease', 'deathIncrease']
mew = meg[coll]
print ('Kerry Locations')
print ('Matrix Report')
mew

In [ ]:
#hide 
#chart over time
fig, ax = plt.subplots(figsize=(10,5))
dailyData.death.plot(c="g", label="Test-adjusted")
dailyData.positiveIncrease.plot(c="g", alpha=.5, label="Test-adjusted (raw)", style="--")
dailyData.deathIncrease.plot(c="b", label="Infections")
fig.set_facecolor('w')
ax.legend();